@using Peacock.PEP.WeChat.Model.DTO;
@using Peacock.PEP.WeChat.Model.Enum;
@{
    Layout = null;
    var chargeList = (IList<ChargeModel>)ViewBag.ChargeList;
}
@if (!chargeList.Any())
{
    <div class="no-data f-tc font_s_05">暂无收费确认数据</div>
}
else
{
    foreach (var chargeModel in chargeList)
    {
        <div class="card">
            <h2 class="card-title border">收费确认</h2>
            <div class="card-body">
                <div class="xm-kf">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                            <td>报告号：</td>
                            <td colspan="3" class="f-fwb">@chargeModel.ReportNo</td>
                        </tr>
                        <tr>
                            <td>流水号：</td>
                            <td colspan="3" class="f-fwb">@chargeModel.ProjectNo</td>
                        </tr>
                        <tr>
                            <td width="25%">客户姓名：</td>
                            <td width="25%" class="f-fwb">@chargeModel.CustomerName</td>
                            <td width="25%">客户手机：</td>
                            <td width="25%" class="f-fwb">@chargeModel.CustomerMobile</td>
                        </tr>

                        <tr>
                            <td>项目类型：</td>
                            <td class="f-fwb">@chargeModel.ItemType</td>
                            <td>项目分类：</td>
                            <td class="f-fwb">@chargeModel.ReportType</td>
                        </tr>
                        <tr>
                            <td>应收金额：</td>
                            <td class="f-fwb">
                                <span class="standard">
                                    @string.Format("{0:F2}", chargeModel.AdjustFee)
                                </span>元
                                @if (ViewBag.ModifyFee)
                                {
                                    <i class="fa fa-edit adjust" style="color:#333;font-size: 1em" data-adjust="{'projectid':'@chargeModel.ProjectId','AdjustFee':'@string.Format("{0:F2}",chargeModel.AdjustFee)'}"></i>
                                }
                            </td>
                            <td>最低收费：</td>
                            <td class="f-fwb">
                                <span class="standard">@string.Format("{0:F2}", chargeModel.StandardFee)</span> 元
                                @if (ViewBag.ModifyFee)
                                {
                                    <i class="fa fa-edit standard" style="color:#333;font-size: 1em" data-standard="{'projectid':'@chargeModel.ProjectId','standardfee':'@string.Format("{0:F2}",chargeModel.StandardFee)'}"></i>
                                }
                            </td>
                        </tr>
                        <tr>
                            <td>免收金额：</td>
                            <td class="f-fwb">@string.Format("{0:F2}", chargeModel.FreeFee) 元</td>
                            <td>实收金额：</td>
                            <td class="f-fwb">@string.Format("{0:F2}", chargeModel.ActualFee) 元</td>
                        </tr>
                        <tr>
                            <td>项目地址：</td>
                            <td colspan="3" class="f-fwb">@chargeModel.ResidentialAreaAddress</td>
                        </tr>

                    </table>
                </div>
                <div class="posi-reli tx_c">
                    <button type="button" class="notice-btn weui_btn weui_btn_gren font_s_1" data-projectid="@chargeModel.ProjectId">确认收费</button>
                </div>

            </div>
        </div>
    }


    <div class="weui_dialog_alert" id="actual-edit-dialog" style="display: none;z-index:100">
        <input type="hidden" id="projectid" name="projectid" />
        <div class="weui_mask" style="z-index:101"></div>
        <div class="weui_dialog" style="z-index:102;width:70%;">
            <div class="weui_dialog_hd tbgreen"><strong class="weui_dialog_title tbleft">修改应收金额</strong></div>
            <div class="weui_dialog_bd weui_text mar_t_1 tx_l">当前金额：<span id="curentactualmoney"></span>元</div>
            <div class="weui_dialog_bd weui_text mar_t_1 tx_l">修改金额：<input type="text" name="actualmoney" id="actualmoney" class="money" />元</div>
            <div class="weui_dialog_ft weui_bottom">
                <div class="btn_fixed">
                    <div class="btn_fix_0 btn_blok">
                        <div class="btn_two mar_r_bf_4">
                            <a href="javascript:;" class="weui_btn weui_btn_gren font_s_08 mar_l_15" id="actual-edit-send" name="send">确定</a>
                        </div>
                        <div class="btn_two">
                            <a href="javascript:;" class="weui_btn weui_btn_org font_s_08 mar_r_15" id="actual-edit-cancel" name="cancel">取消</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="weui_dialog_alert" id="edit-dialog" style="display: none;z-index:100">
        <input type="hidden" id="projectid" name="projectid" />
        <div class="weui_mask" style="z-index:101"></div>
        <div class="weui_dialog" style="z-index:102;width:70%;">
            <div class="weui_dialog_hd tbgreen"><strong class="weui_dialog_title tbleft">修改最低收费</strong></div>
            <div class="weui_dialog_bd weui_text mar_t_1 tx_l">当前最低收费：<span id="curentlowmoney"></span>元</div>
            <div class="weui_dialog_bd weui_text mar_t_1 tx_l">修改最低收费：<input type="text" name="lowmoney" id="lowmoney" class="money" />元</div>
            <div class="weui_dialog_ft weui_bottom">
                <div class="btn_fixed">
                    <div class="btn_fix_0 btn_blok">
                        <div class="btn_two mar_r_bf_4">
                            <a href="javascript:;" class="weui_btn weui_btn_gren font_s_08 mar_l_15" id="edit-send" name="send">确定</a>
                        </div>
                        <div class="btn_two">
                            <a href="javascript:;" class="weui_btn weui_btn_org font_s_08 mar_r_15" id="edit-cancel" name="cancel">取消</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(function () {
            $("#result-msg").hide();

            //修改应收金额点击事件
            $(".adjust").each(function () {
                $(this).click(function () {
                    //赋值
                    var adjustvalue = $(this).data("adjust").replace(/'/g, "\"");
                    var adjustdata = $.parseJSON(adjustvalue);
                    $("#projectid").val(adjustdata.projectid);
                    $("#curentactualmoney").text(adjustdata.AdjustFee);
                    $("#actualmoney").val("");
                    $("#actual-edit-dialog").show();
                });
            });


            //修改最低收费点击事件
            $(".standard").each(function () {
                $(this).click(function () {
                    //赋值
                    var standardvalue = $(this).data("standard").replace(/'/g, "\"");
                    var standarddata = $.parseJSON(standardvalue);
                    $("#projectid").val(standarddata.projectid);
                    $("#curentlowmoney").text(standarddata.standardfee);
                    $("#lowmoney").val("");
                    $("#edit-dialog").show();
                });
            });

            $('#actual-edit-dialog').find('.weui_mask').on('click', function () {
                $('#actual-edit-dialog').hide();
            });
            $('#actual-edit-cancel').on('click', function () {
                $('#actual-edit-dialog').hide();
            });

            $('#edit-dialog').find('.weui_mask').on('click', function () {
                $('#edit-dialog').hide();
            });
            $('#edit-cancel').on('click', function () {
                $('#edit-dialog').hide();
            });

            //应收金额保存
            $("#actual-edit-send").on('click', function () {
                moenyChange('adjust');
            });

            //最低收费保存
            $("#edit-send").on('click', function () {
                moenyChange('standard');
            });

            //确认按钮点击事件
            $(".notice-btn").each(function () {
                $(this).click(function () {
                    $.ajax({
                        type: 'POST',
                        url: '/Charge/Confirm',
                        data: { projectId: $(this).data("projectid") },
                        dataType: 'json',
                        beforesend: $("#loading").show(),
                        success: function (result) {
                            $("#loading").hide();
                            if (result.Success == true) {
                                layer.open({
                                    content: "操作成功！", time: 2, success: function () {
                                        getIndex("/Charge/Receivables");
                                    }
                                });

                            } else {
                                layer.open({ content: result.Msg, time: 2 });
                            }
                        },
                        error: function () {
                            $("#loading, #dialogsend, #actual-edit-dialog").hide();
                            layer.open({ content: '网络异常,请稍后再试!', time: 2 });
                        }
                    });
                });
            });

        });

        //修改项目收费
        function moenyChange(type) {
            var projectid = $("#projectid").val();
            var url = "";
            var _obj = {};
            _obj.projectid = projectid;
            var val;
            switch (type) {
                case 'adjust':
                    url = '/Charge/UpdateAdjustFee';
                    val = $("#actualmoney").val();
                    if (/^(?!0+(?:\.0+)?$)(?:[1-9]\d*|0)(?:\.\d{1,2})?$/.test(val) == false || val.length==0) {
                        layer.open({ content: '请输入正确的价格,最多两位小数!', time: 2 });
                        return;
                    } else {
                        _obj.adjustFee = val;
                    }
                    break;
                case 'standard':
                    url = '/Charge/UpdateStandardFee';
                    val = $("#lowmoney").val();
                    if (/^(?!0+(?:\.0+)?$)(?:[1-9]\d*|0)(?:\.\d{1,2})?$/.test(val) == false || val.length == 0) {
                        layer.open({ content: '请输入正确的价格,最多两位小数!', time: 2 });
                        return;
                    } else {
                        _obj.standardFee = val;
                    }
                    break;
                default:
                    break;
            }
            ajaxLoading(type,url, _obj);
        }

        function ajaxLoading(type,url, data) {
            $.ajax({
                type: 'POST',
                url: url,
                data: data,
                dataType: 'json',
                beforesend: $("#loading").show(),
                timeout: 10000,
                success: function (result) {
                    $("#loading, #dialogsend, #actual-edit-dialog").hide();
                    if (result.Success == true) {
                        layer.open({
                            content: result.Msg, time: 2, success: function () {
                                getIndex("/Charge/Receivables");
                            }
                        });
                    }
                },
                error: function () {
                    $("#loading, #dialogsend, #actual-edit-dialog").hide();
                    layer.open({ content: '网络异常,请稍后再试!' });
                }
            });
        }

    </script>
}
